@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');
html
{
    font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
p,span,a
{
    font-family: 'Roboto', sans-serif;
    @include fluid-type(14px, 18px);
    font-weight: 300;
}
h1
{
    @include fluid-type(22px, 38px);
}
.heading
{
    &__primary
    {
        grid-column: 1 / -1;
    }
}
