.margin-small{margin: 1rem !important;}
.margin-medium{margin: 2rem !important;}
.margin-large{margin: 4rem !important;}
.margin-huge{margin: 8rem !important;}

.margin-bottom-small{margin-bottom: 1rem !important;}
.margin-bottom-medium{margin-bottom: 2rem !important;}
.margin-bottom-large{margin-bottom: 4rem !important;}
.margin-bottom-huge{margin-bottom: 8rem !important;}

.margin-top-small{margin-top: 1rem !important;}
.margin-top-medium{margin-top: 2rem !important;}
.margin-top-large{margin-top: 4rem !important;}
.margin-top-huge{margin-top: 8rem !important;}

.margin-left-small{margin-left: 1rem !important;}
.margin-left-medium{margin-left: 2rem !important;}
.margin-left-large{margin-left: 4rem !important;}
.margin-left-huge{margin-left: 8rem !important;}

.margin-right-small{margin-right: 1rem !important;}
.margin-right-medium{margin-right: 2rem !important;}
.margin-right-large{margin-right: 4rem !important;}
.margin-right-huge{margin-right: 8rem !important;}

.padding-small{padding: 1rem !important;}
.padding-medium{padding: 2rem !important;}
.padding-large{padding: 4rem !important;}
.padding-huge{padding: 8rem !important;}

.padding-bottom-small{padding-bottom: 1rem !important;}
.padding-bottom-medium{padding-bottom: 2rem !important;}
.padding-bottom-large{padding-bottom: 4rem !important;}
.padding-bottom-huge{padding-bottom: 8rem !important;}

.padding-top-small{padding-top: 1rem !important;}
.padding-top-medium{padding-top: 2rem !important;}
.padding-top-large{padding-top: 4rem !important;}
.padding-top-huge{padding-top: 8rem !important;}

.padding-left-small{padding-left: 1rem !important;}
.padding-left-medium{padding-left: 2rem !important;}
.padding-left-large{padding-left: 4rem !important;}
.padding-left-huge{padding-left: 8rem !important;}

.padding-right-small{padding-right: 1rem !important;}
.padding-right-medium{padding-right: 2rem !important;}
.padding-right-large{padding-right: 4rem !important;}
.padding-right-huge{padding-right: 8rem !important;}

.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-left{text-align: left !important;}
.text-justify{text-align: justify !important;}
